kaggle
numpy
pandas
matplotlib
jupyterlab
torch
spacy
seaborn
transformers
fuzzywuzzy
python-Levenshtein
tqdm
torchsummary
torchvision
ipywidgets
trueskill
wandb
scikit-learn
sentence-transformers
datasets
wordcloud
gensim
pyldavis
torchtext
protobuf==3.20.*  # huggingface requirement for downloading models
accelerate>=0.20.1 # Using the `Trainer` with `PyTorch` requires `accelerate>=0.20.1`
datasets
wandb
nltk
autocorrect
pyspellchecker
lightgbm
gensim
textstat
https://github.com/andrei-papou/textstat/archive/main.zip
# pip uninstall nvidia_cublas_cu11
iterative-stratification==0.1.7